[run]
omit = 
  eeg_learning/*setup_package*
  eeg_learning/version*
  eeg_learning/_dev/*
  */eeg_learning/_dev/*
  *conftest*
disable_warnings =
  module-not-measured

[report]
exclude_lines =
  pragma: no cover
  pragma: py{ignore_python_version}
  except ImportError
  raise AssertionError
  raise NotImplementedError
